@model IEnumerable<encuestas_cep_decero.Models.Encuesta>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dni_Libreta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Domicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Localidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta_Aumento_Transporte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta_Boleto_Edu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta_Beca_Transporte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta_Politica_Permanencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta_Politica_Iniciativas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta_Comentarios)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni_Libreta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta_Aumento_Transporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta_Boleto_Edu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta_Beca_Transporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta_Politica_Permanencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta_Politica_Iniciativas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta_Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EncuestaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EncuestaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EncuestaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
